body {
    background-image: linear-gradient( to right, 	#2b2a2a, 	rgb(69, 71, 73));
    color: white;
    
}    
p {
        
    border: 2px solid rgb(255, 255, 255);
      
}
br {
   color: black;
}

